<!DOCTYPE html>
<html lang="en">
<head>
  <title>DinApp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Produtos Comprados</h2>
    <p>Acompanhe suas compras:</p>            
    <p>Saldo Atual: {{total_saldo}}</p>   
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>
        {% for venda in vendas %}
        <tr>
            <td>{{venda.usuario.first_name}}</td>
            <td>{{venda.valor}}</td>
            <td>{{venda.data_compra}}</td>
        </tr>
        {% endfor %}        
        </tbody>
    </table>
    <hr></hr>
    <h2>Pagamentos</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>
        {% for pagamento in pagamentos %}
        <tr>
            <td>{{pagamento.usuario.first_name}}</td>
            <td>{{pagamento.valor}}</td>
            <td>{{pagamento.data_pagamento}}</td>
        </tr>
        {% endfor %}        
        </tbody>
    </table>
    </div>
    
</body>
</html>
            